<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Page de connexion</title>

	<!-- Liens vers les fichiers CSS de Bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

	<!-- Liens vers le fichier CSS personnalisé -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<body>

	<div>
		<a href="{{ url_for('index') }}">
			<button type="button" class="btn btn-outline-dark" style="font-size: 11px; position: absolute; left: 10px; top: 10px;">
				<- Retour à la page d'accueil
			</button>
		</a>
	</div>

	<div class="container">
		<h1 class="text-center mt-5 mb-4">Identification</h1>

		<form action="/home" method="post" enctype="multipart/form-data" class="mx-auto form-group">

			<!-- Adresse mail input -->
			<div class="mb-3">
				<label for="inputMail" class="form-label">Adresse Mail</label>
				<input type="email" class="form-control" id="inputMail" name="inputMail" placeholder="nom@exemple.com">
			</div>

			<!-- Mot de passe input -->
			<div class="mb-3">
				<label for="inputPassword" class="form-label">Mot de Passe</label>
				<input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Mot de passe">
			</div>

			<!-- Checkbox et lien vers "Mot de passe oublié" -->
			<div class="mb-3 d-flex justify-content-between">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="checkSouvenir" checked>
					<label class="form-check-label" for="checkSouvenir">Se souvenir de moi</label>
				</div>

				<div class="mb-4">
					<a href="{{url_for('settings')}}" class="text-decoration-none">Mot de passe oublié ?</a>
				</div>
			</div>

		<!-- Bouton de connexion -->
		<button type="submit" class="btn btn-primary btn-block mb-4">Se connecter</button>

		<!-- Texte en rouge en cas d'erreur -->
		{% if error %}
		<div class="alert alert-danger">
			{{ "Erreur : Email / mot de passe incorrect." }}
		</div>
		{% endif %}

		<!-- Lien vers la page d'inscription -->
		<div class="text-center">
			<p>Vous n’avez pas de compte ? <a href="{{url_for('inscription')}}" class="text-decoration-none">S'inscrire</a></p>
		</div>

		</form>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">

	</script>
</body>
</html>
