@font-face {
  font-family: Nunito_ExtraBold;
  src: url(./Nunito_Sans/NunitoSans-ExtraBold.ttf)
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: Nunito_Black;
  src: url(./Nunito_Sans/NunitoSans-Black.ttf)
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: Nunito_Bold;
  src: url(./Nunito_Sans/NunitoSans-Bold.ttf)
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}